# Arquivos de IDEs
.vscode
.idea

# Arquivos do python
.python-version
poetry.lock

# Diretórios de dados
**/Dados/
Algoritmos python/modelo/

# Arquivos gerados automaticamente
Algoritmos C/MLP/main.c
Algoritmos C/MLP/entradas-saidas.h
Algoritmos C/k-NN/dataset.h

# Executáveis
*.o
*.exe
